p {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.container {
  @include respond-above(xl) {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.btn {
  &:hover,
  &:active,
  &:focus {
    box-shadow: none !important;
    border: none !important;
    outline: none;
  }
}

.padding_section_1 {
  padding: 3rem 0;
}
.padding_section_2 {
  padding: 5rem 0;
}

body.rtl {
  .row {
    flex-direction: row-reverse;
  }
}
