body.rtl {
  .banner .form-group {
    direction: rtl;
    i {
      left: unset;
      right: 14px;
    }
    input {
      padding-left: 0;
      padding-right: 47px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}

.banner {
  padding: 100px 0;
  padding-top: 300px;
  background-position: center center !important;
  background-size: cover !important;
  background: #f5f5f5 url(../../img/background/bg_1.jpg);
  margin-top: -125px;

  .container {
    @include respond-below(sm) {
      max-width: 100% !important;
    }
  }
  @include respond-below(md) {
    padding-top: 150px;
    margin-top: 0;
  }
  h1 {
    margin-top: -45px;
    font-size: 36px !important;
    @include respond-below(md) {
      font-size: 33px !important;
    }
    @include respond-below(xs) {
      font-size: 28px !important;
      margin-bottom: 10px;
    }
    font-weight: 600 !important;
    text-transform: capitalize !important;
    letter-spacing: 0px !important;
    overflow-wrap: break-word;
    text-align: center;
    color: $white;
    line-height: 45px;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    color: $white !important;
    font-size: 19px !important;
    font-weight: 400 !important;
    margin-bottom: 10px;
    @include respond-below(xs) {
      font-size: 17px !important;
      margin-top: -5px;
    }
  }
  .form-group {
    display: flex;
    position: relative;
    margin-top: 35px;
    @include respond-below(xs) {
      margin-top: 15px;
    }
    span {
      color: $white;
      font-weight: 600;
      position: absolute;
      bottom: -23px;
      font-size: 13px;

      a {
        color: $white;
        font-weight: lighter;
        &:hover {
          color: $main;
          text-decoration: none;
        }
      }
    }
    i {
      color: $main;
      position: absolute;
      top: 20px;
      left: 14px;
      font-size: 20px;

      padding-left: 1px;
      padding-right: 1px;
    }
    select {
      border: none;
      background-color: $gray-1;
      font-weight: bold;
      padding: 8px 12px;
      &:hover,
      &:active,
      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
      @include respond-below(sm) {
        display: none;
      }
    }
    input {
      height: 60px;
      padding-left: 47px;
      border: none;
      border-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    .btn {
      border: none;
      width: 150px;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: $main;
      @include transition(0.3s);
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
