body.rtl {
  .copyright {
    ul {
      text-align: right;
      @include respond-below(sm) {
        text-align: center;
      }
    }
    p {
      text-align: left;
      @include respond-below(sm) {
        text-align: center;
      }
    }
  }
}

footer {
  background-color: #101010;
  padding: 4rem 0 1rem 0;
  h5 {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-transform: capitalize;
    letter-spacing: 0px;
    color: #ddd;
    margin-bottom: 22px;
  }
  p {
    color: $footer-text;
    font-size: 15px;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $footer-text;
        font-size: 15px;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

.copyright {
  background-color: #080808;
  padding: 20px 0;
  font-size: 13px;
  @include respond-below(sm) {
    text-align: center !important;
    p {
      text-align: center !important;
    }
    ul {
      margin-bottom: 10px !important;
    }
  }
  p {
    color: #5d5d5d !important;
  }
  a {
    color: #9e9d9d;
    &:hover {
      color: #dfdfdf;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      a {
        border-bottom: 1px dotted #444;
      }
    }
  }
}
