body.rtl {
  .navbar {
    direction: rtl;
    .dropdown-toggle:after {
      @include transform(translate(2px, 2px));
    }
  }
  .navbar .navbar-nav .dropdown .dropdown-menu {
    left: unset !important;
    right: -10px;
    .dropdown-menu {
      right: 191px;
      .dropdown-menu {
        right: 191px;
      }
    }
  }
  .navbar
    .navbar-nav
    .dropdown
    .dropdown-menu
    .dropdown-item.dropdown-toggle:after {
    right: unset;
    left: 6px;
    @include transform(rotate(90deg));
  }
}

.navbar {
  background-color: transparent !important;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(234, 234, 234, 0.07);

  .navbar-toggler {
    border: none;
    background-color: $main;
    padding: 8px 10px;
    color: $white;
    @include remove_focus;
  }
  @include respond-below(md) {
    .navbar-collapse {
      margin-right: -16px;
      margin-left: -16px;
      background-color: #f9f9f9;
      margin-bottom: -25px;
      margin-top: 20px;
    }
  }

  .navbar-brand {
    img {
      width: 150px;
      @include transform(translate(0, -4px));
    }
  }
  .navbar-nav {
    @include respond-below(md) {
      display: none;
    }
    .nav-item {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      .nav-link {
        @include respond-below(md) {
          color: #5b5b5b !important;
        }
        color: $white;

        font-size: 15px;

        font-weight: 600;
        @include transition(0.1s);
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .dropdown {
      &.show {
        .nav-link {
          opacity: 0.5;
        }
      }
      .dropdown-menu {
        border: none;
        border-radius: 0;
        background-color: #262626;
        padding: 6px;
        left: -10px;
        width: 195px;
        min-width: unset;
        .dropdown-item {
          padding: 5px 12px;
          font-size: 13px;
          color: $white;
          opacity: 0.5;
          @include transition(0.2s);
          &:hover {
            background-color: transparent;
            opacity: 1;
          }
          &.dropdown-toggle {
            &.active-dropdown {
              background-color: transparent;
              opacity: 1;
            }
            position: relative;
            &:after {
              position: absolute;
              right: 6px;
              top: 15px;
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }
  .dropdown-toggle {
    &:after {
      @include transform(translate(-4px, 2px));
    }
  }
}
