@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
body.rtl {
  #cssmenu ul > li.has-sub > a:before {
    right: unset;
    left: 22px;
  }
  #cssmenu ul > li.has-sub > a:after {
    right: unset;
    left: 26px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 0;
    padding-right: 60px;
  }
  #cssmenu ul ul li a {
    padding-left: 0;
    padding-right: 40px;
  }
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 100%;
  font-family: Raleway, sans-serif;
  color: #ffffff;
  > ul {
    > li {
      a {
        border-bottom: 1px solid rgba(241, 241, 241, 0.9) !important;
      }
      &:last-child {
        a {
          border-bottom: none !important;
        }
      }
    }
  }
}
#cssmenu ul ul {
  display: none;
}
#cssmenu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: #5b5b5b !important;
  background: #f9f9f9;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #5b5b5b;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #5b5b5b;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cssmenu ul ul li a {
  padding: 14px 22px;
  padding-left: 40px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  color: #5b5b5b;
  background: #f9f9f9;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
#cssmenu ul ul ul li a {
  padding-left: 60px;
}

#cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #5b5b5b;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background: #5b5b5b;
}
