body.rtl {
  #scroll {
    right: unset;
    left: 30px;
  }
}
#scroll {
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  width: 40px;
  height: 45px;
  z-index: 3;
  display: none;
  color: rgba(62, 81, 228, 1);
  font-size: 25px;
  @include transition(0.3s);
  &:hover {
    color: $main;
  }
}
