body.rtl {
  .box {
    direction: rtl;
    &__content {
      margin-left: 0;
      margin-right: 20px;
      @include respond-below(sm) {
        margin-right: 0;
      }
    }
    .private {
      right: unset;
      left: 25px;
      @include respond-below(sm) {
        right: 0;
        left: 0;
      }
    }
    &__footer .content {
      margin-left: 0;
      margin-right: 15px;
    }
  }
}

.box {
  display: flex;
  border: 1px solid #d4dadf;
  border-radius: 4px;
  padding: 30px;
  padding-top: 35px;
  position: relative;
  margin-bottom: 30px;
  @include respond-below(sm) {
    flex-direction: column;
  }
  @include transition(0.3s);
  &:hover {
    border-color: transparent;
    @include box-shadow(0 0 16px #888888);
  }
  .private {
    color: $red;
    position: absolute;
    right: 25px;
    top: 30px;
    text-transform: capitalize;
    font-size: 12px;
    @include respond-below(sm) {
      right: 0;
      left: 0;

      margin: auto;
      display: inline-block;
      top: 10px;
      font-size: 10px;
      text-align: center;
    }
  }
  &__icon {
    width: 120px;
    height: 100%;
    text-align: center;
    i {
      color: $main;
      font-size: 55px;
    }
    @include respond-below(sm) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__content {
    margin-left: 20px;
    width: 100%;
    margin-top: -5px;
    @include respond-below(sm) {
      margin-left: 0;
    }
    h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      text-transform: none;
      letter-spacing: 0px;
      @include respond-below(sm) {
        text-align: center;
      }
      a {
        color: #363d40;
        @include transition(0.4s);
        &:hover {
          color: $main;
        }
      }
    }
    p {
      margin-top: 11px;
      font-size: 14px;
      @include respond-below(sm) {
        text-align: center;
      }
    }
  }
  &__footer {
    display: flex;
    @include respond-below(sm) {
      justify-content: center;
    }
    margin-top: 20px;
    img {
      width: 37px;
      height: 38px;
    }
    .content {
      margin-left: 15px;
    }
    span {
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: 0.3px;
      font-weight: 400;
      text-transform: capitalize;
      font-size: 11px;
    }
    a {
      color: $main;
      font-size: 12px;
      margin-left: -1px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
