.btn_primary {
  font-size: 11px;
  padding: 9px 27px 9px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border-radius: 2px;
  color: #50a1ff;
  font-weight: 500;
  background-color: transparent;
  background-image: none;
  border: 1px solid #50a1ff;
  display: inline-block;
  @include transition(0.3s);
  &:hover {
    background-color: #50a1ff;
    color: $white;
    box-shadow: 0 1px 10px rgba(80, 161, 255, 0.4);
  }
}
