body.rtl {
  .form-box {
    .form-check {
      display: flex;
      flex-direction: row-reverse;
    }
    .lost-password {
      display: flex;
      flex-direction: row-reverse;

      .fa-arrow-right {
        display: none;
      }
      .fa-arrow-left {
        display: block;
        position: relative;
        top: 7px;
        right: 12px;
      }
    }
  }
}

.form-box {
  border-top: 4px solid $main;
  margin: auto;
  margin-bottom: 55px;
  margin-left: 0;
  padding: 30px;
  @include respond-below(sm) {
    padding: 20px;
  }
  overflow: hidden;
  background: #f3f2f2;
  box-shadow: 0 1px 3px rgba(35, 38, 40, 0.21);
  border-radius: 7px;
  .lost-password {
    margin-top: 15px;
    color: $main;
    i {
      margin-left: 5px;
      font-size: 13px;
    }
    .fa-arrow-left {
      display: none;
    }
  }
  h4 {
    font-weight: 700;
    font-size: 21px;
    @include respond-below(sm) {
      font-size: 18px;
    }
    line-height: 30px;
    text-transform: none;
    letter-spacing: 0px;
    color: #363d40;
  }
  label {
    color: #424242;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .form-control {
    border-radius: 0;
    box-shadow: none;
    padding: 11px 12px;
    height: 45px;
    font-size: 14px;
    &:focus,
    &:active {
      border-color: #ced4da;
    }
  }
  .btn {
    margin-top: 15px;
    background-color: $main;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    @include transition(0.3s);
    &:hover {
      background-color: $dark;
    }
  }
}
