body.rtl {
  .document__contents {
    margin-left: 0;
    margin-right: 6rem;
    ul {
      direction: rtl;
    }
    h2,
    h3 {
      a {
        left: unset;
        right: -40px;
      }
    }
  }
  .document .menu-accordion {
    border-right: none;
    border-left: 1px solid #f1f2f3;
  }
}

.document {
  .menu-accordion {
    border-right: 1px solid #f1f2f3;
    @include respond-below(md) {
      border-right: none;
    }
    .wrapper {
      padding: 5rem 0;
      @include respond-below(md) {
        padding: 3rem 0;
        padding-bottom: 1rem;
      }
    }
  }

  &__contents {
    margin-left: 6rem;
    padding: 5rem 1rem;
    @include respond-below(md) {
      margin-left: 0rem;
      padding: 2rem 0rem;
    }
    ul {
      li {
        font-weight: 300;
        margin-bottom: 10px;
        color: #757575;
        code {
          color: #ba5e63;
          font-size: 13px;
        }
        a {
          color: #50a1ff;
        }
      }
    }
    img {
      margin-bottom: 15px;
    }
    .jumbotron {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: #f1f6fa;
      h1 {
        margin-bottom: 10px;
        font-weight: 300;
        color: #323d47;
      }
      p {
        color: #323d47;
      }
    }
    h3,
    h2 {
      @include respond-below(md) {
        a {
          display: none;
        }
      }
      color: #323d47;
      letter-spacing: 0.5px;

      font-weight: 400;
      position: relative;
      margin-bottom: 0.5rem;
      line-height: 1.5;

      a {
        position: absolute;
        left: -30px;

        color: #50a1ff;
        opacity: 0;
        padding-right: 10px;
        &:hover {
          opacity: 1 !important;
        }
      }
      &:hover {
        a {
          opacity: 0.6;
        }
      }
    }
    h3 {
      font-size: 1.75781rem;

      a {
        font-size: 30px;
        padding-right: 15px;
      }
    }
    h2 {
      font-size: 2.10938rem;
      a {
        opacity: 0.6;
        font-size: 35px;
      }
    }
    .divider {
      border-top-style: dashed;
      margin-bottom: 3rem;
      margin-top: 3rem;
      border-top-color: rgba(117, 117, 117, 0.09);
    }
    p {
      margin-top: 0;
      margin-bottom: 1rem;
      color: #757575;
      line-height: 35px;
      font-size: 15px;
      font-weight: 300;
      &.lead {
        font-size: 1.17188rem !important;
      }
    }
  }
}

body.rtl {
  .list-manual {
    li {
      a {
        padding: 2px 24px 2px 5px;
      }
      i {
        left: unset;
        right: 0;
        @include transform(translate(2px, -3px) rotate(-180deg));
      }
    }
  }
}

.list-manual {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  margin-bottom: 0;
  &.sub {
    margin-left: 11px;
    border-left: 1px dashed #ccc;
  }
  li {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    i {
      position: absolute;
      margin: 5px;
      left: 0;
      margin: 9px 12px 0px 8px;
      font-size: 12px;
      color: #9c9c9c;
      @include transform(translate(2px, -3px));
    }
    a {
      display: block;
      padding: 2px 5px 2px 24px;
      text-decoration: none;
      border-radius: 4px;
      position: relative;
      color: #676767;
      font-size: 15px;
      letter-spacing: 0px;
      &.menu {
        font-weight: 500;
        i {
          left: -6px;
          font-size: 15px;
          @include transform(translate(2px, -5px));
          &.close {
            color: $main;

            opacity: 1;
          }
          &.open {
            color: #888888;
            opacity: 0;
          }
        }
      }
      &.collapsed {
        font-weight: 400;
        i {
          &.close {
            opacity: 0;
          }
          &.open {
            opacity: 1;
          }
        }
      }
      &:hover {
        background-color: #ddd;
        color: $main;
      }
    }
  }
}

body.rtl {
  .drawer__opener {
    padding: 2px 24px 2px 5px;
    i {
      left: unset;
      right: -5px;
      @include transform(translate(2px, -5px) rotate(-180deg));
    }
  }
  .drawer {
    &.sub {
      padding-left: 0;
      margin-left: 0;
      border-left: none;
      padding-right: 21px;
      margin-right: 11px;
      border-right: 1px dashed #ccc;
    }
  }
}

.drawer {
  &.sub {
    padding-left: 21px;
    margin-left: 11px;
    border-left: 1px dashed #ccc;
  }
  .drawer__opener {
    display: block;
    padding: 2px 5px 2px 24px;
    text-decoration: none;
    border-radius: 4px;
    position: relative;
    color: #676767;
    font-size: 15px;
    letter-spacing: 0px;
    font-weight: 400;
    margin: 3px 0;
    &:hover {
      background-color: #ddd;
      color: $main;
    }
    i {
      position: absolute;
      margin: 5px;
      margin: 9px 12px 0px 8px;
      left: -6px;
      font-size: 15px;
      color: #9c9c9c;
      @include transform(translate(2px, -7px));
      &.close {
        color: $main;

        opacity: 1;
      }
      &.open {
        color: #888888;
        opacity: 0;
      }
    }
    &.collapsed {
      i {
        &.close {
          opacity: 0;
        }
        &.open {
          opacity: 1;
        }
      }
    }
  }
}
