body.rtl {
  .landing {
    .right {
      direction: rtl;
      ul {
        li {
          i {
            margin-right: 0;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.landing {
  padding: 6rem 0;

  .right {
    h5 {
      font-weight: 700;
      font-size: 19px;
      line-height: 23px;
      text-transform: none;
      letter-spacing: 0px;
      color: #363d40;
    }
    ul {
      list-style: none;
      padding-left: 0;
      padding-right: 0;
      margin-top: 20px;
      li {
        margin-bottom: 10px;
        a {
          color: #333333;
          line-height: 30px;
          @include transition(0.3s);
          i {
            opacity: 0.4;
            margin-right: 10px;
          }
          &:hover {
            color: $main;
          }
        }
      }
    }
  }
}
