@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
p {
  margin: 0; }

a:hover {
  text-decoration: none; }

@media (min-width: 1439px) {
  .container {
    max-width: 1200px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none; }

.padding_section_1 {
  padding: 3rem 0; }

.padding_section_2 {
  padding: 5rem 0; }

body.rtl .row {
  flex-direction: row-reverse; }

body.rtl .navbar {
  direction: rtl; }
  body.rtl .navbar .dropdown-toggle:after {
    -webkit-transform: translate(2px, 2px);
    -ms-transform: translate(2px, 2px);
    -moz-transform: translate(2px, 2px);
    -o-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
body.rtl .navbar .navbar-nav .dropdown .dropdown-menu {
  left: unset !important;
  right: -10px; }
  body.rtl .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-menu {
    right: 191px; }
    body.rtl .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-menu .dropdown-menu {
      right: 191px; }
body.rtl .navbar
.navbar-nav
.dropdown
.dropdown-menu
.dropdown-item.dropdown-toggle:after {
  right: unset;
  left: 6px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.navbar {
  background-color: transparent !important;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(234, 234, 234, 0.07); }
  .navbar .navbar-toggler {
    border: none;
    background-color: #47c494;
    padding: 8px 10px;
    color: #fff; }
    .navbar .navbar-toggler:hover, .navbar .navbar-toggler:focus, .navbar .navbar-toggler:active {
      border: none !important;
      box-shadow: none !important;
      outline: none; }
  @media (max-width: 991px) {
    .navbar .navbar-collapse {
      margin-right: -16px;
      margin-left: -16px;
      background-color: #f9f9f9;
      margin-bottom: -25px;
      margin-top: 20px; } }
  .navbar .navbar-brand img {
    width: 150px;
    -webkit-transform: translate(0, -4px);
    -ms-transform: translate(0, -4px);
    -moz-transform: translate(0, -4px);
    -o-transform: translate(0, -4px);
    transform: translate(0, -4px); }
  @media (max-width: 991px) {
    .navbar .navbar-nav {
      display: none; } }
  .navbar .navbar-nav .nav-item {
    margin-right: 10px; }
    .navbar .navbar-nav .nav-item:last-child {
      margin-right: 0; }
    .navbar .navbar-nav .nav-item .nav-link {
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      -webkit-transition: 0.1s;
      -moz-transition: 0.1s;
      -ms-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s; }
      @media (max-width: 991px) {
        .navbar .navbar-nav .nav-item .nav-link {
          color: #5b5b5b !important; } }
      .navbar .navbar-nav .nav-item .nav-link:hover {
        opacity: 0.5; }
  .navbar .navbar-nav .dropdown.show .nav-link {
    opacity: 0.5; }
  .navbar .navbar-nav .dropdown .dropdown-menu {
    border: none;
    border-radius: 0;
    background-color: #262626;
    padding: 6px;
    left: -10px;
    width: 195px;
    min-width: unset; }
    .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
      padding: 5px 12px;
      font-size: 13px;
      color: #fff;
      opacity: 0.5;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
        background-color: transparent;
        opacity: 1; }
      .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item.dropdown-toggle {
        position: relative; }
        .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item.dropdown-toggle.active-dropdown {
          background-color: transparent;
          opacity: 1; }
        .navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:after {
          position: absolute;
          right: 6px;
          top: 15px;
          transform: rotate(-90deg); }
  .navbar .dropdown-toggle:after {
    -webkit-transform: translate(-4px, 2px);
    -ms-transform: translate(-4px, 2px);
    -moz-transform: translate(-4px, 2px);
    -o-transform: translate(-4px, 2px);
    transform: translate(-4px, 2px); }

body.rtl .banner .form-group {
  direction: rtl; }
  body.rtl .banner .form-group i {
    left: unset;
    right: 14px; }
  body.rtl .banner .form-group input {
    padding-left: 0;
    padding-right: 47px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  body.rtl .banner .form-group .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }

.banner {
  padding: 100px 0;
  padding-top: 300px;
  background-position: center center !important;
  background-size: cover !important;
  background: #f5f5f5 url(../../img/background/bg_1.jpg);
  margin-top: -125px; }
  @media (max-width: 767px) {
    .banner .container {
      max-width: 100% !important; } }
  @media (max-width: 991px) {
    .banner {
      padding-top: 150px;
      margin-top: 0; } }
  .banner h1 {
    margin-top: -45px;
    font-size: 36px !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    letter-spacing: 0px !important;
    overflow-wrap: break-word;
    text-align: center;
    color: #fff;
    line-height: 45px;
    margin-bottom: 20px; }
    @media (max-width: 991px) {
      .banner h1 {
        font-size: 33px !important; } }
    @media (max-width: 575px) {
      .banner h1 {
        font-size: 28px !important;
        margin-bottom: 10px; } }
  .banner p {
    text-align: center;
    color: #fff !important;
    font-size: 19px !important;
    font-weight: 400 !important;
    margin-bottom: 10px; }
    @media (max-width: 575px) {
      .banner p {
        font-size: 17px !important;
        margin-top: -5px; } }
  .banner .form-group {
    display: flex;
    position: relative;
    margin-top: 35px; }
    @media (max-width: 575px) {
      .banner .form-group {
        margin-top: 15px; } }
    .banner .form-group span {
      color: #fff;
      font-weight: 600;
      position: absolute;
      bottom: -23px;
      font-size: 13px; }
      .banner .form-group span a {
        color: #fff;
        font-weight: lighter; }
        .banner .form-group span a:hover {
          color: #47c494;
          text-decoration: none; }
    .banner .form-group i {
      color: #47c494;
      position: absolute;
      top: 20px;
      left: 14px;
      font-size: 20px;
      padding-left: 1px;
      padding-right: 1px; }
    .banner .form-group select {
      border: none;
      background-color: #f6f6f6;
      font-weight: bold;
      padding: 8px 12px; }
      .banner .form-group select:hover, .banner .form-group select:active, .banner .form-group select:focus {
        border: none;
        outline: none;
        box-shadow: none; }
      @media (max-width: 767px) {
        .banner .form-group select {
          display: none; } }
    .banner .form-group input {
      height: 60px;
      padding-left: 47px;
      border: none;
      border-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .banner .form-group .btn {
      border: none;
      width: 150px;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-radius: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: #47c494;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .banner .form-group .btn:hover {
        opacity: 0.8; }

body.rtl #cssmenu ul > li.has-sub > a:before {
  right: unset;
  left: 22px; }
body.rtl #cssmenu ul > li.has-sub > a:after {
  right: unset;
  left: 26px; }
body.rtl #cssmenu ul ul ul li a {
  padding-left: 0;
  padding-right: 60px; }
body.rtl #cssmenu ul ul li a {
  padding-left: 0;
  padding-right: 40px; }

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#cssmenu {
  width: 100%;
  font-family: Raleway, sans-serif;
  color: #ffffff; }
  #cssmenu > ul > li a {
    border-bottom: 1px solid rgba(241, 241, 241, 0.9) !important; }
  #cssmenu > ul > li:last-child a {
    border-bottom: none !important; }

#cssmenu ul ul {
  display: none; }

#cssmenu > ul > li.active > ul {
  display: block; }

.align-right {
  float: right; }

#cssmenu > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: #5b5b5b !important;
  background: #f9f9f9;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease; }

#cssmenu ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #5b5b5b;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

#cssmenu ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #5b5b5b;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#cssmenu ul ul li a {
  padding: 14px 22px;
  padding-left: 40px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  color: #5b5b5b;
  background: #f9f9f9;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease; }

#cssmenu ul ul ul li a {
  padding-left: 60px; }

#cssmenu ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #5b5b5b; }

#cssmenu ul ul > li.has-sub > a:before {
  top: 20px;
  background: #5b5b5b; }

body.rtl .copyright ul {
  text-align: right; }
  @media (max-width: 767px) {
    body.rtl .copyright ul {
      text-align: center; } }
body.rtl .copyright p {
  text-align: left; }
  @media (max-width: 767px) {
    body.rtl .copyright p {
      text-align: center; } }

footer {
  background-color: #101010;
  padding: 4rem 0 1rem 0; }
  footer h5 {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-transform: capitalize;
    letter-spacing: 0px;
    color: #ddd;
    margin-bottom: 22px; }
  footer p {
    color: #919191;
    font-size: 15px; }
  footer ul {
    padding: 0;
    list-style: none; }
    footer ul li {
      margin-bottom: 12px; }
      footer ul li:last-child {
        margin-bottom: 0; }
      footer ul li a {
        color: #919191;
        font-size: 15px; }
        footer ul li a:hover {
          color: #fff; }

.copyright {
  background-color: #080808;
  padding: 20px 0;
  font-size: 13px; }
  @media (max-width: 767px) {
    .copyright {
      text-align: center !important; }
      .copyright p {
        text-align: center !important; }
      .copyright ul {
        margin-bottom: 10px !important; } }
  .copyright p {
    color: #5d5d5d !important; }
  .copyright a {
    color: #9e9d9d; }
    .copyright a:hover {
      color: #dfdfdf; }
  .copyright ul {
    margin: 0;
    padding: 0; }
    .copyright ul li a {
      border-bottom: 1px dotted #444; }

.btn_primary {
  font-size: 11px;
  padding: 9px 27px 9px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border-radius: 2px;
  color: #50a1ff;
  font-weight: 500;
  background-color: transparent;
  background-image: none;
  border: 1px solid #50a1ff;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn_primary:hover {
    background-color: #50a1ff;
    color: #fff;
    box-shadow: 0 1px 10px rgba(80, 161, 255, 0.4); }

body.rtl .box {
  direction: rtl; }
  body.rtl .box__content {
    margin-left: 0;
    margin-right: 20px; }
    @media (max-width: 767px) {
      body.rtl .box__content {
        margin-right: 0; } }
  body.rtl .box .private {
    right: unset;
    left: 25px; }
    @media (max-width: 767px) {
      body.rtl .box .private {
        right: 0;
        left: 0; } }
  body.rtl .box__footer .content {
    margin-left: 0;
    margin-right: 15px; }

.box {
  display: flex;
  border: 1px solid #d4dadf;
  border-radius: 4px;
  padding: 30px;
  padding-top: 35px;
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (max-width: 767px) {
    .box {
      flex-direction: column; } }
  .box:hover {
    border-color: transparent;
    -webkit-box-shadow: 0 0 16px #888888;
    -moz-box-shadow: 0 0 16px #888888;
    box-shadow: 0 0 16px #888888; }
  .box .private {
    color: #f13c2a;
    position: absolute;
    right: 25px;
    top: 30px;
    text-transform: capitalize;
    font-size: 12px; }
    @media (max-width: 767px) {
      .box .private {
        right: 0;
        left: 0;
        margin: auto;
        display: inline-block;
        top: 10px;
        font-size: 10px;
        text-align: center; } }
  .box__icon {
    width: 120px;
    height: 100%;
    text-align: center; }
    .box__icon i {
      color: #47c494;
      font-size: 55px; }
    @media (max-width: 767px) {
      .box__icon {
        width: 100%;
        margin-bottom: 20px; } }
  .box__content {
    margin-left: 20px;
    width: 100%;
    margin-top: -5px; }
    @media (max-width: 767px) {
      .box__content {
        margin-left: 0; } }
    .box__content h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      text-transform: none;
      letter-spacing: 0px; }
      @media (max-width: 767px) {
        .box__content h4 {
          text-align: center; } }
      .box__content h4 a {
        color: #363d40;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
        .box__content h4 a:hover {
          color: #47c494; }
    .box__content p {
      margin-top: 11px;
      font-size: 14px; }
      @media (max-width: 767px) {
        .box__content p {
          text-align: center; } }
  .box__footer {
    display: flex;
    margin-top: 20px; }
    @media (max-width: 767px) {
      .box__footer {
        justify-content: center; } }
    .box__footer img {
      width: 37px;
      height: 38px; }
    .box__footer .content {
      margin-left: 15px; }
    .box__footer span {
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: 0.3px;
      font-weight: 400;
      text-transform: capitalize;
      font-size: 11px; }
    .box__footer a {
      color: #47c494;
      font-size: 12px;
      margin-left: -1px; }
      .box__footer a:hover {
        opacity: 0.5; }

body.rtl #scroll {
  right: unset;
  left: 30px; }

#scroll {
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  width: 40px;
  height: 45px;
  z-index: 3;
  display: none;
  color: #3e51e4;
  font-size: 25px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  #scroll:hover {
    color: #47c494; }

body.rtl .form-box .form-check {
  display: flex;
  flex-direction: row-reverse; }
body.rtl .form-box .lost-password {
  display: flex;
  flex-direction: row-reverse; }
  body.rtl .form-box .lost-password .fa-arrow-right {
    display: none; }
  body.rtl .form-box .lost-password .fa-arrow-left {
    display: block;
    position: relative;
    top: 7px;
    right: 12px; }

.form-box {
  border-top: 4px solid #47c494;
  margin: auto;
  margin-bottom: 55px;
  margin-left: 0;
  padding: 30px;
  overflow: hidden;
  background: #f3f2f2;
  box-shadow: 0 1px 3px rgba(35, 38, 40, 0.21);
  border-radius: 7px; }
  @media (max-width: 767px) {
    .form-box {
      padding: 20px; } }
  .form-box .lost-password {
    margin-top: 15px;
    color: #47c494; }
    .form-box .lost-password i {
      margin-left: 5px;
      font-size: 13px; }
    .form-box .lost-password .fa-arrow-left {
      display: none; }
  .form-box h4 {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    text-transform: none;
    letter-spacing: 0px;
    color: #363d40; }
    @media (max-width: 767px) {
      .form-box h4 {
        font-size: 18px; } }
  .form-box label {
    color: #424242;
    font-size: 15px;
    margin-bottom: 10px; }
  .form-box .form-control {
    border-radius: 0;
    box-shadow: none;
    padding: 11px 12px;
    height: 45px;
    font-size: 14px; }
    .form-box .form-control:focus, .form-box .form-control:active {
      border-color: #ced4da; }
  .form-box .btn {
    margin-top: 15px;
    background-color: #47c494;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .form-box .btn:hover {
      background-color: #262626; }

body.rtl .landing .right {
  direction: rtl; }
  body.rtl .landing .right ul li i {
    margin-right: 0;
    margin-left: 10px; }

.landing {
  padding: 6rem 0; }
  .landing .right h5 {
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-transform: none;
    letter-spacing: 0px;
    color: #363d40; }
  .landing .right ul {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px; }
    .landing .right ul li {
      margin-bottom: 10px; }
      .landing .right ul li a {
        color: #333333;
        line-height: 30px;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .landing .right ul li a i {
          opacity: 0.4;
          margin-right: 10px; }
        .landing .right ul li a:hover {
          color: #47c494; }

body.rtl .document__contents {
  margin-left: 0;
  margin-right: 6rem; }
  body.rtl .document__contents ul {
    direction: rtl; }
  body.rtl .document__contents h2 a,
  body.rtl .document__contents h3 a {
    left: unset;
    right: -40px; }
body.rtl .document .menu-accordion {
  border-right: none;
  border-left: 1px solid #f1f2f3; }

.document .menu-accordion {
  border-right: 1px solid #f1f2f3; }
  @media (max-width: 991px) {
    .document .menu-accordion {
      border-right: none; } }
  .document .menu-accordion .wrapper {
    padding: 5rem 0; }
    @media (max-width: 991px) {
      .document .menu-accordion .wrapper {
        padding: 3rem 0;
        padding-bottom: 1rem; } }
.document__contents {
  margin-left: 6rem;
  padding: 5rem 1rem; }
  @media (max-width: 991px) {
    .document__contents {
      margin-left: 0rem;
      padding: 2rem 0rem; } }
  .document__contents ul li {
    font-weight: 300;
    margin-bottom: 10px;
    color: #757575; }
    .document__contents ul li code {
      color: #ba5e63;
      font-size: 13px; }
    .document__contents ul li a {
      color: #50a1ff; }
  .document__contents img {
    margin-bottom: 15px; }
  .document__contents .jumbotron {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f1f6fa; }
    .document__contents .jumbotron h1 {
      margin-bottom: 10px;
      font-weight: 300;
      color: #323d47; }
    .document__contents .jumbotron p {
      color: #323d47; }
  .document__contents h3,
  .document__contents h2 {
    color: #323d47;
    letter-spacing: 0.5px;
    font-weight: 400;
    position: relative;
    margin-bottom: 0.5rem;
    line-height: 1.5; }
    @media (max-width: 991px) {
      .document__contents h3 a,
      .document__contents h2 a {
        display: none; } }
    .document__contents h3 a,
    .document__contents h2 a {
      position: absolute;
      left: -30px;
      color: #50a1ff;
      opacity: 0;
      padding-right: 10px; }
      .document__contents h3 a:hover,
      .document__contents h2 a:hover {
        opacity: 1 !important; }
    .document__contents h3:hover a,
    .document__contents h2:hover a {
      opacity: 0.6; }
  .document__contents h3 {
    font-size: 1.75781rem; }
    .document__contents h3 a {
      font-size: 30px;
      padding-right: 15px; }
  .document__contents h2 {
    font-size: 2.10938rem; }
    .document__contents h2 a {
      opacity: 0.6;
      font-size: 35px; }
  .document__contents .divider {
    border-top-style: dashed;
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-top-color: rgba(117, 117, 117, 0.09); }
  .document__contents p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #757575;
    line-height: 35px;
    font-size: 15px;
    font-weight: 300; }
    .document__contents p.lead {
      font-size: 1.17188rem !important; }

body.rtl .list-manual li a {
  padding: 2px 24px 2px 5px; }
body.rtl .list-manual li i {
  left: unset;
  right: 0;
  -webkit-transform: translate(2px, -3px) rotate(-180deg);
  -ms-transform: translate(2px, -3px) rotate(-180deg);
  -moz-transform: translate(2px, -3px) rotate(-180deg);
  -o-transform: translate(2px, -3px) rotate(-180deg);
  transform: translate(2px, -3px) rotate(-180deg); }

.list-manual {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
  margin-bottom: 0; }
  .list-manual.sub {
    margin-left: 11px;
    border-left: 1px dashed #ccc; }
  .list-manual li {
    margin-bottom: 5px; }
    .list-manual li:last-child {
      margin-bottom: 0; }
    .list-manual li i {
      position: absolute;
      margin: 5px;
      left: 0;
      margin: 9px 12px 0px 8px;
      font-size: 12px;
      color: #9c9c9c;
      -webkit-transform: translate(2px, -3px);
      -ms-transform: translate(2px, -3px);
      -moz-transform: translate(2px, -3px);
      -o-transform: translate(2px, -3px);
      transform: translate(2px, -3px); }
    .list-manual li a {
      display: block;
      padding: 2px 5px 2px 24px;
      text-decoration: none;
      border-radius: 4px;
      position: relative;
      color: #676767;
      font-size: 15px;
      letter-spacing: 0px; }
      .list-manual li a.menu {
        font-weight: 500; }
        .list-manual li a.menu i {
          left: -6px;
          font-size: 15px;
          -webkit-transform: translate(2px, -5px);
          -ms-transform: translate(2px, -5px);
          -moz-transform: translate(2px, -5px);
          -o-transform: translate(2px, -5px);
          transform: translate(2px, -5px); }
          .list-manual li a.menu i.close {
            color: #47c494;
            opacity: 1; }
          .list-manual li a.menu i.open {
            color: #888888;
            opacity: 0; }
      .list-manual li a.collapsed {
        font-weight: 400; }
        .list-manual li a.collapsed i.close {
          opacity: 0; }
        .list-manual li a.collapsed i.open {
          opacity: 1; }
      .list-manual li a:hover {
        background-color: #ddd;
        color: #47c494; }

body.rtl .drawer__opener {
  padding: 2px 24px 2px 5px; }
  body.rtl .drawer__opener i {
    left: unset;
    right: -5px;
    -webkit-transform: translate(2px, -5px) rotate(-180deg);
    -ms-transform: translate(2px, -5px) rotate(-180deg);
    -moz-transform: translate(2px, -5px) rotate(-180deg);
    -o-transform: translate(2px, -5px) rotate(-180deg);
    transform: translate(2px, -5px) rotate(-180deg); }
body.rtl .drawer.sub {
  padding-left: 0;
  margin-left: 0;
  border-left: none;
  padding-right: 21px;
  margin-right: 11px;
  border-right: 1px dashed #ccc; }

.drawer.sub {
  padding-left: 21px;
  margin-left: 11px;
  border-left: 1px dashed #ccc; }
.drawer .drawer__opener {
  display: block;
  padding: 2px 5px 2px 24px;
  text-decoration: none;
  border-radius: 4px;
  position: relative;
  color: #676767;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 3px 0; }
  .drawer .drawer__opener:hover {
    background-color: #ddd;
    color: #47c494; }
  .drawer .drawer__opener i {
    position: absolute;
    margin: 5px;
    margin: 9px 12px 0px 8px;
    left: -6px;
    font-size: 15px;
    color: #9c9c9c;
    -webkit-transform: translate(2px, -7px);
    -ms-transform: translate(2px, -7px);
    -moz-transform: translate(2px, -7px);
    -o-transform: translate(2px, -7px);
    transform: translate(2px, -7px); }
    .drawer .drawer__opener i.close {
      color: #47c494;
      opacity: 1; }
    .drawer .drawer__opener i.open {
      color: #888888;
      opacity: 0; }
  .drawer .drawer__opener.collapsed i.close {
    opacity: 0; }
  .drawer .drawer__opener.collapsed i.open {
    opacity: 1; }

/*# sourceMappingURL=main.css.map */
